* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Colours we're using inside our project */

:root {
    --primary-color: #1aa179;
    --color1: #1b4c3f;
    --secondary-color: #1f2937;
    --color2: #6b7280;
    --color3: #f9fafb;
    --bgcolor: #eaf7f2;
    --color4: #0f766e;
    --color5: #ffffff;
}

/* Header CSS Starts Here */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 90px;
    box-shadow: 5px 0 12px black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    color: #1AA179;
    cursor: pointer;
    margin-left: 30px;
    gap: 5px;
}

.logo h1 {
    font-size: 25px;
}

.logo .fa-moon {
    font-size: 25px;
}

.menu-bar{
    display: flex;
    gap: 210px;
}

.menu-bar nav ul {
    display: flex;
}

.menu-bar nav ul li {
    list-style-type: none;
    margin: 15px;
}

.menu-bar nav ul li a {
    text-decoration: none;
    color: #6B7280;
    font-size: 18px;
}

.menu-bar nav ul li a:hover {
    color: #209B6F;
}

.sing-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.sing-up-btn button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: #209B6F;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.sing-up-btn button:hover {
    background: none;
    border: 2px solid #209B6F;
    color: #209B6F;
}

.sing-up-btn .fa-moon {
    color: #1AA179;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.fa-xmark{
    display: none;
}

.side-bar{
    display: none;
}

/* Header Ends Here */

/* Hero Starts Here */

.hero-blog {
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.hero-blog-1 {
    display: flex;
    align-items: center;
}

.hero-blog-1-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-1-info {
    margin-left: 20px;
}

.hero-blog-1-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-1-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-1-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-2 {
    display: flex;
    align-items: center;
}

.hero-blog-2-image img {
    max-width: 350px;
    height: 150px;
    object-fit: cover;
}

.hero-blog-2-info {
    margin-left: 20px;
}

.hero-blog-2-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-2-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-2-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-3 {
    display: flex;
    align-items: center;
}

.hero-blog-3-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-3-info {
    margin-left: 20px;
}

.hero-blog-3-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-3-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-3-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-4 {
    display: flex;
    align-items: center;
}

.hero-blog-4-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-4-info {
    margin-left: 20px;
}

.hero-blog-4-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-4-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-4-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-5 {
    display: flex;
    align-items: center;
}

.hero-blog-5-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-5-info {
    margin-left: 20px;
}

.hero-blog-5-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-5-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-5-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-6 {
    display: flex;
    align-items: center;
}

.hero-blog-6-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-6-info {
    margin-left: 20px;
}

.hero-blog-6-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-6-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-6-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-7 {
    display: flex;
    align-items: center;
}

.hero-blog-7-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-7-info {
    margin-left: 20px;
}

.hero-blog-7-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-7-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-7-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

.hero-blog-8 {
    display: flex;
    align-items: center;
}

.hero-blog-8-image img {
    max-width: 350px;
    height: 150px;
}

.hero-blog-8-info {
    margin-left: 20px;
}

.hero-blog-8-info h4 {
    font-weight: lighter;
    margin-left: 15px;
    font-size: 12px;
}

.hero-blog-8-info h1 {
    font-size: 14px;
    width: 230px;
    margin: 10px 0;
}

.hero-blog-8-info p {
    font-size: 14px;
    width: 320px;
    font-weight: 200;
}

/* Hero Ends Here */

/* Stay Connected Starts Here */

.stay-connected{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #295848;
    height: 200px;
}

.stay-connected-title{
    text-align: center;
}

.stay-connected-title h1{
    color: white;
}

.stay-connected-title h3{
    color: white;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 20px;
}

.stay-conntcted-form input{
    width: 450px;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    color: black;
}

.stay-conntcted-form button{
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #1D9A70;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

/* Stay Connected Ends Here */

/* Footer Starts Here */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #293C36;
    height: 280px;
    padding-top: 50px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #1AA179;
    margin-left: 30px;
    
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.footer-logo h1{
    color: #FEFEFE;
}

.footer-logo .fa-moon{
    font-size: 25px;
    color: #46B88D;
}

.footer-logo-info h3{
    max-width: 280px;
    font-size: 15px;
    color: #6EB99A;
    margin-top: 20px;
    text-align: start;
}

.quick-links{
    display: flex;
    flex-direction: column;
}

.quick-links h3{
    color: white;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.quick-links a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.quick-links a:hover{
    color: #209B6F;
}

.resources{
    display: flex;
    flex-direction: column;
}

.resources h3{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.resources a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.resources a:hover{
    color: #209B6F;
}

.connect h3{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.connect .fa-brands{
    font-size: 25px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

.connect .fa-brands:hover{
    color: #209B6F;
}

hr{
    margin: 0 30px;
    margin-top: 30px;
}

.copyright{
    text-align: center;
    color: white;
    margin-top: 10px;
}

/* Footer Ends Here */

@media (max-width: 767px) {
    .logo h1{
        font-size: 25px;
    }

    .logo .fa-moon{
        font-size: 25px;
    }

    .menu-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100%;
        width: 60%;
        transition: .5s;
        background-color: #afc5be;
    }

    .menu-bar nav ul{
        display: flex;
        flex-direction: column;
    }

    .active{
        right: 0;
    }

    .fa-xmark{
        display: block;
        font-size: 35px;
        color: #1AA179;
        padding-top: 20px;
        margin-left: 15px;
    }

    .side-bar{
        display: block;
    }

    .side-bar .fa-bars{
        font-size: 20px;
        color: #1AA179;
        margin-right: 20px;
    }

    .sing-up-btn{
        margin-left: 15px;
        padding-bottom: 20px;
    }

    .hero-blog-1,
    .hero-blog-2,
    .hero-blog-3,
    .hero-blog-4,
    .hero-blog-5,
    .hero-blog-6,
    .hero-blog-7,
    .hero-blog-8{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    /* Stay Connected Starts Here */

    .stay-connected {
        margin-top: 50px;
        height: 280px;
    }

    .stay-connected-title h3 {
        width: 350px;
        font-size: 18px;
    }

    .stay-conntcted-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .stay-conntcted-form input {
        width: 300px;
        border-radius: 10px;
    }

    .stay-conntcted-form button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
    }

    /* Stay Connected Ends Here */

    /* Footer Starts Here */

    footer {
        padding: 30px 20px;
        background-color: #222;
        /* Dark footer */
        color: white;
        text-align: center;
        height: 750px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .footer-logo i {
        font-size: 24px;
    }

    .footer-logo h1 {
        font-size: 20px;
    }

    .footer-logo-info h3 {
        font-size: 18px;
        color: white;
        margin-top: 10px;
    }

    .quick-links,
    .resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .quick-links h3,
    .resources h3,
    .connect h3 {
        font-size: 20px;
        color: white;
    }

    .quick-links a,
    .resources a {
        font-size: 19px;
        color: white;
        text-decoration: none;
    }

    .connect i {
        font-size: 20px;
        margin: 5px;
        color: #4dd0e1;
    }

    footer hr {
        margin: 30px 0;
        border: 0;
        border-top: 1px solid #555;
    }

    .copyright p {
        font-size: 14px;
        color: white;
        margin-top: -25px;
    }

    /* Footer Ends Here */

}

@media (min-width: 768px) and (max-width: 1200px) {
    .logo h1 {
        font-size: 25px;
    }

    .logo .fa-moon {
        font-size: 25px;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100%;
        width: 60%;
        transition: .5s;
        background-color: #afc5be;
    }

    .menu-bar nav ul {
        display: flex;
        flex-direction: column;
    }

    .active {
        right: 0;
    }

    .fa-xmark {
        display: block;
        font-size: 35px;
        color: #1AA179;
        padding-top: 20px;
        margin-left: 15px;
    }

    .side-bar {
        display: block;
    }

    .side-bar .fa-bars {
        font-size: 20px;
        color: #1AA179;
        margin-right: 20px;
    }

    .sing-up-btn {
        margin-left: 15px;
        padding-bottom: 20px;
    }
}

/* Media Query Ends Here */