* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Colours we're using inside our project */

:root {
    --primary-color: #eff8f5;
    --color1: #ffffff;
    --color2: #1AA179;
     --color3: #f8f9fa;
    --color4: #295848;
    --color5: #293C36;
    --secondary-color: #6B7280;
    --secondary-color: #3c3e42;
    --secondary-black: #191b1f;  
}

.dark-theme {
    --primary-color: #000106;
    --color1: #000106;
    --color2: #000106;
    --color3: #000106;
    --color4: #000106;
    --color5: #000106;
    --secondary-color: #fff;
    --secondary-color: #fff;
    --secondary-black: #fff;
}

/* Header CSS Starts Here */
body {
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    height: 90px;
    box-shadow: 5px 0 12px black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    color: #1AA179;
    cursor: pointer;
    margin-left: 30px;
    gap: 5px;
}

.logo h1 {
    font-size: 25px;
}

.logo .fa-moon {
    font-size: 25px;
}

.menu-bar {
    display: flex;
    gap: 210px;
}

.menu-bar nav ul {
    display: flex;
}

.menu-bar nav ul li {
    list-style-type: none;
    margin: 15px;
}

.menu-bar nav ul li a {
    text-decoration: none;
    color: #6B7280;
    font-size: 18px;
}

.menu-bar nav ul li a:hover {
    color: #209B6F;
}

.sing-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.sing-up-btn button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: #209B6F;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.sing-up-btn button:hover {
    background: none;
    border: 2px solid #209B6F;
    color: #209B6F;
}

.sing-up-btn .fa-moon {
    color: #1AA179;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.fa-moon{
    color: var(--color2);
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.fa-sun{
    color: white;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
    
}

.fa-xmark {
    display: none;
}

.side-bar {
    display: none;
}

/* Header Ends Here */

/* Hero Mosques Starts Here */

.hero-community {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
    color: var(--secondary-black);
}

.community-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-title h1 {
    margin-bottom: 30px;
}

.community-title h3 {
    margin-bottom: 50px;
}

.comunity-info {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.community-iftar {
    border: 2px solid #D9D9D9;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
}

.community-iftar-featured {
    background-color: #71E890;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.community-iftar-featured h3 {
    font-weight: lighter;
    color: #218E42;
    text-align: center;
    font-size: 20px;
}

.community-iftar-info h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.community-iftar-info h3 {
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 10px;
}

.community-iftar-time-btn {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.community-iftar-time-btn h3 {
    font-weight: lighter;
    font-size: 16px;
}

.community-iftar-time-btn button {
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color: #1AA179;
    border: none;
    color: white;
    margin-right: 15px;
    border-radius: 50px;
}

.community-circle {
    border: 2px solid #D9D9D9;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
}

.community-circle-featured {
    background-color: #71E890;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.community-circle-featured h3 {
    font-weight: lighter;
    color: #218E42;
    text-align: center;
    font-size: 20px;
}

.community-circle-info h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.community-circle-info h3 {
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 10px;
}

.community-circle-time-btn {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.community-circle-time-btn h3 {
    font-weight: lighter;
    font-size: 16px;
}

.community-circle-time-btn button {
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color: #1AA179;
    border: none;
    color: white;
    margin-right: 15px;
    border-radius: 50px;
}

.community-drive {
    border: 2px solid #D9D9D9;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
}

.community-drive-featured {
    background-color: #71E890;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.community-drive-featured h3 {
    font-weight: lighter;
    color: #218E42;
    text-align: center;
    font-size: 20px;
}

.community-drive-info h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.community-drive-info h3 {
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 10px;
}

.community-drive-time-btn {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.community-drive-time-btn h3 {
    font-weight: lighter;
    font-size: 16px;
}

.community-drive-time-btn button {
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color: #1AA179;
    border: none;
    color: white;
    margin-right: 15px;
    border-radius: 50px;
}

/* Hero Mosques Ends Here */

/* Stay Connected Starts Here */

.stay-connected {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    height: 200px;
}

.stay-connected-title {
    text-align: center;
}

.stay-connected-title h1 {
    color: white;
}

.stay-connected-title h3 {
    color: white;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 20px;
}

.stay-conntcted-form input {
    width: 450px;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    color: black;
}

.stay-conntcted-form button {
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #1D9A70;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

/* Stay Connected Ends Here */

/* Footer Starts Here */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color5);
    height: 280px;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #1AA179;
    margin-left: 30px;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.footer-logo h1 {
    color: #FEFEFE;
}

.footer-logo .fa-moon {
    font-size: 25px;
    color: #46B88D;
}

.footer-logo-info h3 {
    max-width: 280px;
    font-size: 15px;
    color: #6EB99A;
    margin-top: 20px;
    text-align: start;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.quick-links h3 {
    color: white;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.quick-links a {
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.quick-links a:hover {
    color: #209B6F;
}

.resources {
    display: flex;
    flex-direction: column;
}

.resources h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.resources a {
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.resources a:hover {
    color: #209B6F;
}

.connect h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.connect .fa-brands {
    font-size: 25px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

.connect .fa-brands:hover {
    color: #209B6F;
}

hr {
    margin: 0 30px;
    margin-top: 30px;
}

.copyright {
    text-align: center;
    color: white;
    margin-top: 10px;
}

/* Footer Ends Here */

/* Media Query Starts Here */

@media (max-width: 767px) {
    .logo h1 {
        font-size: 25px;
    }

    .logo .fa-moon {
        font-size: 25px;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100%;
        width: 60%;
        transition: .5s;
        background-color: #afc5be;
    }

    .menu-bar nav ul {
        display: flex;
        flex-direction: column;
    }

    .active {
        right: 0;
    }

    .fa-xmark {
        display: block;
        font-size: 35px;
        color: #1AA179;
        padding-top: 20px;
        margin-left: 15px;
    }

    .side-bar {
        display: block;
    }

    .side-bar .fa-bars {
        font-size: 20px;
        color: #1AA179;
        margin-right: 20px;
    }

    .sing-up-btn {
        margin-left: 15px;
        padding-bottom: 20px;
    }

    .comunity-info{
        flex-wrap: wrap;
    }

    /* Stay Connected Starts Here */

    .stay-connected {
        margin-top: -100px;
        height: 280px;
    }

    .stay-connected-title h3 {
        width: 350px;
        font-size: 18px;
    }

    .stay-conntcted-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .stay-conntcted-form input {
        width: 300px;
        border-radius: 10px;
    }

    .stay-conntcted-form button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
    }

    /* Stay Connected Ends Here */

    /* Footer Starts Here */

    footer {
        padding: 30px 20px;
        background-color: #222;
        /* Dark footer */
        color: white;
        text-align: center;
        height: 750px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .footer-logo i {
        font-size: 24px;
    }

    .footer-logo h1 {
        font-size: 20px;
    }

    .footer-logo-info h3 {
        font-size: 18px;
        color: white;
        margin-top: 10px;
    }

    .quick-links,
    .resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .quick-links h3,
    .resources h3,
    .connect h3 {
        font-size: 20px;
        color: white;
    }

    .quick-links a,
    .resources a {
        font-size: 19px;
        color: white;
        text-decoration: none;
    }

    .connect i {
        font-size: 20px;
        margin: 5px;
        color: #4dd0e1;
    }

    footer hr {
        margin: 30px 0;
        border: 0;
        border-top: 1px solid #555;
    }

    .copyright p {
        font-size: 14px;
        color: white;
        margin-top: -25px;
    }

    /* Footer Ends Here */

}

@media (min-width: 768px) and (max-width: 1200px) {
    .logo h1 {
        font-size: 25px;
    }

    .logo .fa-moon {
        font-size: 25px;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100%;
        width: 60%;
        transition: .5s;
        background-color: #afc5be;
    }

    .menu-bar nav ul {
        display: flex;
        flex-direction: column;
    }

    .active {
        right: 0;
    }

    .fa-xmark {
        display: block;
        font-size: 35px;
        color: #1AA179;
        padding-top: 20px;
        margin-left: 15px;
    }

    .side-bar {
        display: block;
    }

    .side-bar .fa-bars {
        font-size: 20px;
        color: #1AA179;
        margin-right: 20px;
    }

    .sing-up-btn {
        margin-left: 15px;
        padding-bottom: 20px;
    }
}

/* Media Query Ends Here */