* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colours we're using inside our project */

:root {
  --primary-color: #1aa179;
  --color1: #1b4c3f;
  --secondary-color: #1f2937;
  --color2: #6b7280;
  --color3: #f9fafb;
  --bgcolor: #eaf7f2;
  --color4: #0f766e;
  --color5: #ffffff;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #222;
}

/* Header CSS Starts Here */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 90px;
  box-shadow: 5px 0 12px black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: #1AA179;
  cursor: pointer;
  margin-left: 30px;
  gap: 5px;
}

.logo h1 {
  font-size: 25px;
}

.logo .fa-moon {
  font-size: 25px;
}

.menu-bar {
  display: flex;
  gap: 210px;
}

.menu-bar nav ul {
  display: flex;
}

.menu-bar nav ul li {
  list-style-type: none;
  margin: 15px;
}

.menu-bar nav ul li a {
  text-decoration: none;
  color: #6B7280;
  font-size: 18px;
}

.menu-bar nav ul li a:hover {
  color: #209B6F;
}

.sing-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.sing-up-btn button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  background-color: #209B6F;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.sing-up-btn button:hover {
  background: none;
  border: 2px solid #209B6F;
  color: #209B6F;
}

.sing-up-btn .fa-moon {
  color: #1AA179;
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;
}

.fa-xmark {
  display: none;
}

.side-bar {
  display: none;
}


/* Header Ends Here */

.prayer-section {
  padding: 3rem 2rem;
  text-align: center;
  margin-top: 100px;
}

.prayer-grid {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.prayer-times {
  background: #eff8f5;
  padding: 1.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}

.prayer {
  background: white;
  padding: 0.7rem 1rem;
  border-radius: 6px;
}

.prayer span {
  display: block;
  font-size: 0.9rem;
}

.prayer strong {
  color: #1aa179;
  font-size: 1.2rem;
}

.wakhtiga-xiga {
  padding: 1.5rem;
  background: #eff8f5;
  border-radius: 10px;
  text-align: center;
}

.wakhtiga-xiga .timer {
  font-size: 2rem;
  color: #00754a;
  margin: 0.5rem 0;
}

.progress-bar {
  background: #ccc;
  height: 5px;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  height: 5px;
  width: 60%;
  background: #00754a;
}

/* Stay Connected Starts Here */

.stay-connected {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #295848;
  height: 200px;
}

.stay-connected-title {
  text-align: center;
}

.stay-connected-title h1 {
  color: white;
}

.stay-connected-title h3 {
  color: white;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 20px;
}

.stay-conntcted-form input {
  width: 450px;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  color: black;
}

.stay-conntcted-form button {
  width: 170px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #1D9A70;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

/* Stay Connected Ends Here */

/* Footer Starts Here */

footer {

  background: #293c36;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 310px;
  padding-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #1AA179;
  margin-left: 30px;

}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.footer-logo h1 {
  color: #FEFEFE;
}

.footer-logo .fa-moon {
  font-size: 25px;
  color: #46B88D;
}

.footer-logo-info h3 {
  max-width: 280px;
  font-size: 15px;
  color: #6EB99A;
  margin-top: 20px;
  text-align: start;
}

.quick-links {
  display: flex;
  flex-direction: column;
}

.quick-links h3 {
  color: white;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.quick-links a {
  text-decoration: none;
  color: white;
  margin: 5px 0;
}

.quick-links a:hover {
  color: #209B6F;
}

.resources {
  display: flex;
  flex-direction: column;
}

.resources h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.resources a {
  text-decoration: none;
  color: white;
  margin: 5px 0;
}

.resources a:hover {
  color: #209B6F;
}

.connect h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.connect .fa-brands {
  font-size: 25px;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}

.connect .fa-brands:hover {
  color: #209B6F;
}

hr {
  margin: 0 30px;
  margin-top: 30px;
}

.copyright {
  text-align: center;
  color: white;
  margin-top: 10px;
}

/* Footer Ends Here */

/* Media Query Starts Here */

@media (max-width: 767px) {
  .logo h1 {
    font-size: 25px;
  }

  .logo .fa-moon {
    font-size: 25px;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    position: absolute;
    top: 0;
    right: -100%;
    width: 60%;
    transition: .5s;
    background-color: #afc5be;
  }

  .menu-bar nav ul {
    display: flex;
    flex-direction: column;
  }

  .active {
    right: 0;
  }

  .fa-xmark {
    display: block;
    font-size: 35px;
    color: #1AA179;
    padding-top: 20px;
    margin-left: 15px;
  }

  .side-bar {
    display: block;
  }

  .side-bar .fa-bars {
    font-size: 20px;
    color: #1AA179;
    margin-right: 20px;
  }

  .sing-up-btn {
    margin-left: 15px;
    padding-bottom: 20px;
  }

  /* Prayer Times Starts Here */

  .prayer-section {
    padding: 20px;
    text-align: center;
  }

  .prayer-section h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .prayer-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .prayer-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .prayer-times {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .prayer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
  }

  .wakhtiga-xiga {
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
  }

  .wakhtiga-xiga p {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .wakhtiga-xiga h4 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .timer {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress {
    width: 50%;
    /* should be controlled by JS */
    height: 100%;
    background-color: #009688;
  }

  /* Prayer Times Ends Here */

  /* Community Ends Here */

  /* Stay Connected Starts Here */

  .stay-connected {
    margin-top: 70px;
    height: 300px;
  }

  .stay-connected-title h3 {
    width: 350px;
    font-size: 18px;
  }

  .stay-conntcted-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .stay-conntcted-form input {
    width: 300px;
    border-radius: 10px;
  }

  .stay-conntcted-form button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }

  /* Stay Connected Ends Here */

  /* Footer Starts Here */

  footer {
    padding: 30px 20px;
    background-color: #222;
    /* Dark footer */
    color: white;
    text-align: center;
    height: 750px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
  }

  .footer {
    display: flex;
    align-items: center;
  }

  .footer-logo i {
    font-size: 24px;
  }

  .footer-logo h1 {
    font-size: 20px;
  }

  .footer-logo-info h3 {
    font-size: 18px;
    color: white;
    margin-top: 10px;
  }

  .quick-links,
  .resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .quick-links h3,
  .resources h3,
  .connect h3 {
    font-size: 20px;
    color: white;
  }

  .quick-links a,
  .resources a {
    font-size: 19px;
    color: white;
    text-decoration: none;
  }

  .connect i {
    font-size: 20px;
    margin: 5px;
    color: #4dd0e1;
  }

  footer hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #555;
  }

  .copyright p {
    font-size: 14px;
    color: white;
    margin-top: -20px;
  }

  /* Footer Ends Here */

}

@media (min-width: 768px) and (max-width: 1200px) {
  .logo h1 {
    font-size: 25px;
  }

  .logo .fa-moon {
    font-size: 25px;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    position: absolute;
    top: 0;
    right: -100%;
    width: 60%;
    transition: .5s;
    background-color: #afc5be;
  }

  .menu-bar nav ul {
    display: flex;
    flex-direction: column;
  }

  .active {
    right: 0;
  }

  .fa-xmark {
    display: block;
    font-size: 35px;
    color: #1AA179;
    padding-top: 20px;
    margin-left: 15px;
  }

  .side-bar {
    display: block;
  }

  .side-bar .fa-bars {
    font-size: 20px;
    color: #1AA179;
    margin-right: 20px;
  }

  .sing-up-btn {
    margin-left: 15px;
    padding-bottom: 20px;
  }

  /* PRAYER TIMES */
  .prayer-section {
    padding: 60px 40px;
    background-color: white;
    text-align: center;
  }

  .prayer-section h2 {
    font-size: 32px;
    color: black;
    margin-bottom: 10px;
  }

  .prayer-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }

  .prayer-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }

  .prayer-times {
    flex: 1 1 45%;
    font-size: 20px;
    color: black;
  }

  .prayer-times .prayer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .wakhtiga-xiga {
    flex: 1 1 45%;
    background: #f3f3f3;
    border-radius: 12px;
    padding: 20px;
  }

  .wakhtiga-xiga p,
  .wakhtiga-xiga h4,
  .wakhtiga-xiga .timer {
    font-size: 25px;
    margin-bottom: 10px;
    color: #333;
  }

  .prayer span {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
  }

  .progress {
    height: 100%;
    background: #009688;
    width: 40%;
    border-radius: 10px;
  }
}

/* Media Query Ends Here */