*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Colours we're using inside our project */

:root{
    --primary-color: #1aa179;
    --color1: #1b4c3f;
    --secondary-color: #1f2937;
    --color2: #6b7280; 
    --color3: #f9fafb; 
    --bgcolor: #eaf7f2; 
    --color4: #0f766e; 
    --color5: #ffffff; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 90px;
    box-shadow: 5px 0 12px black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo{
    display: flex;
    align-items: center;
    color: #1AA179;
    cursor: pointer;
    margin-left: 30px;
}

.logo h1{
    font-size: 25px;
}

.logo .fa-moon{
    font-size: 25px;
}

.menu-bar nav ul{
    display: flex;
}

.menu-bar nav ul li{
    list-style-type: none;
    margin: 15px;
}

.menu-bar nav ul li a{
    text-decoration: none;
    color: #6B7280;
    font-size: 18px;
}

.sing-up-btn{
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-right: 30px;
}

.sing-up-btn button{
    width: 100px;
    height: 30px;
    font-size: 18px;
    background-color: #1AA179;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.sing-up-btn .fa-moon{
    color: #1AA179;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  height: 100vh;
  
}

h2{
    text-align: center;
    padding-top: 20px;
}

.main-singUp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    width: 360px;
    height: 550px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 120px;
    margin-top: 110px;
}

form{
   width: 300px;
   margin-left: 20px;
   padding-bottom: 20px;
}

label{
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: 10px;
    height: 40px;
}

button{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background-color:  #1aa179;
    color: white;
    font-size: 18px;
    border: none;
    margin-left: 90px;
    border-radius: 8px;
    margin-bottom: 20px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -35px;
}
a{
    color: #1aa179;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2C352E;
    height: 280px;
    padding-top: 50px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #1AA179;
    margin-left: 30px;
    
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-logo .fa-moon{
    font-size: 25px;
}

.footer-logo-info h3{
    max-width: 280px;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    text-align: start;
}

.quick-links{
    display: flex;
    flex-direction: column;
}

.quick-links h3{
    color: white;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.quick-links a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.resources{
    display: flex;
    flex-direction: column;
}

.resources h3{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.resources a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.connect h3{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.connect .fa-brands{
    font-size: 25px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

hr{
    margin: 0 30px;
    margin-top: 30px;
}

.copyright{
    text-align: center;
    color: white;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .logo h1 {
        font-size: 25px;
        color: var(--color2);
    }

    .logo .fa-moon {
        font-size: 25px;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100%;
        width: 60%;
        transition: .5s;
        background-color: #afc5be;
    }

    .menu-bar nav ul {
        display: flex;
        flex-direction: column;
    }

    .active {
        right: 0;
    }

    .fa-xmark {
        display: block;
        font-size: 35px;
        color: #1AA179;
        padding-top: 20px;
        margin-left: 15px;
    }

    .side-bar {
        display: block;
    }

    .side-bar .fa-bars{
        font-size: 20px;
        color: var(--color2);
        margin-right: 20px;
    }

    .sing-up-btn {
        margin-left: 15px;
        padding-bottom: 20px;
    }

    .section{
        display: flex;
        flex-direction: column;
    }

    form button{
       margin-left: 100px;
    }

    /* Stay Connected Starts Here */

    .stay-connected {
        margin-top: -100px;
        height: 280px;
    }

    .stay-connected-title h3 {
        width: 350px;
        font-size: 18px;
    }

    .stay-conntcted-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .stay-conntcted-form input {
        width: 300px;
        border-radius: 10px;
    }

    .stay-conntcted-form button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
    }

    /* Stay Connected Ends Here */

    /* Footer Starts Here */

    footer {
        padding: 30px 20px;
        background-color: #222;
        /* Dark footer */
        color: white;
        text-align: center;
        height: 750px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .footer-logo i {
        font-size: 24px;
    }

    .footer-logo h1 {
        font-size: 20px;
    }

    .footer-logo-info h3 {
        font-size: 18px;
        color: white;
        margin-top: 10px;
    }

    .quick-links,
    .resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .quick-links h3,
    .resources h3,
    .connect h3 {
        font-size: 20px;
        color: white;
    }

    .quick-links a,
    .resources a {
        font-size: 19px;
        color: white;
        text-decoration: none;
    }

    .connect i {
        font-size: 20px;
        margin: 5px;
        color: #4dd0e1;
    }

    footer hr {
        margin: 30px 0;
        border: 0;
        border-top: 1px solid #555;
    }

    .copyright p {
        font-size: 14px;
        color: white;
        margin-top: -25px;
    }

    /* Footer Ends Here */

}

@media (min-width: 768px) and (max-width: 1200px) {
    .logo h1 {
        font-size: 25px;
    }

    .logo .fa-moon {
        font-size: 25px;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        position: absolute;
        top: 0;
        right: -100%;
        width: 60%;
        transition: .5s;
        background-color: #afc5be;
    }

    .menu-bar nav ul {
        display: flex;
        flex-direction: column;
    }

    .active {
        right: 0;
    }

    .fa-xmark {
        display: block;
        font-size: 35px;
        color: #1AA179;
        padding-top: 20px;
        margin-left: 15px;
    }

    .side-bar {
        display: block;
    }

    .side-bar .fa-bars {
        font-size: 20px;
        color: #1AA179;
        margin-right: 20px;
    }

    .sing-up-btn {
        margin-left: 15px;
        padding-bottom: 20px;
    }
}

/* Media Query Ends Here */